---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import Layout from '../../layouts/Layout.astro';

import {
  FacebookShareButton,
  LinkedInShareButton,
  TwitterShareButton,
  WhatsAppShareButton,
  SocialShare
} from 'astro-social-share';

export const getStaticPaths = async () => {
    const blogs = await getCollection("blogs");
    const paths = blogs.map(blog => {
        return {
            params: {
                slug: blog.slug
            },
            props: {
                blog
            }
        }
    });

    return paths;
}

type Props = {
    blog: CollectionEntry<"blogs">
}

const {blog} = Astro.props;
const {Content} = await blog.render();
const BUTTONS = [TwitterShareButton, FacebookShareButton, LinkedInShareButton, WhatsAppShareButton]
---

<Layout charset="UTF-8" 
    title={blog.data.title} 
    description={blog.data.description}
    keywords={blog.data.keywords}
>
    <section class="flex justify-center mt-12">
        <div id="markdown" class="prose prose-lg max-w-6xl px-4 overflow-visible relative mb-5">
            <h1>{blog.data.title}</h1>
            <SocialShare
                buttons={BUTTONS}
                description={blog.data.description}
                title={blog.data.title}
            />
            <Content />
        </div>
    </section>

    <script>
        import { toggleMarkdownTheme } from "../../scripts/theme";

        const theme = document.documentElement.dataset.theme;

        toggleMarkdownTheme(theme)
    </script>
</Layout>
